<%=form_for @page,:url => (params[:action] == "new" ? new_page_url : edit_page_url(@page)), :html =>{:class => "margin-bottom-45"} do |f|%>
	<div class="margin-bottom-30"><%= f.check_box :home, :class => "margin-right-10"%><%= f.label :home, "Página principal"%></div>
	
	<div class="margin-bottom-30">
		<h3>Titulo</h3>
		<%= f.text_field :title, :class => "text m"%>
	</div>
	
	
	<div class="margin-bottom-30">
		<h3>Titulo del menú</h3>
		<%=f.text_field :menu_title, :class => "text s"%>
	</div>
	
	<%= f.submit "Guardar página", :class => "margin-right-15"%><%= link_to "cancelar", pages_url,:class => "red hovering"%>
<%end%>