<tr>
	<td><%= link_to cas.titol,show_cas_url(cas)%></td>
	<td><%= truncate(cas.descripcio,:length => 70)%></td>
	<td><%= cas.preguntes.size%></td>
	<%if session[:professor_id]%>	
	<td><%=link_to '',edit_cas_url(cas),:class => 'edit margin-right-5'%>
	<%=link_to '',delete_cas_url(cas),:class => 'delete'%></td>
	<%end%>	
</tr>