<div class="content_top">
	<p class="header"><%= @cas.titol%></p>
	<%if session[:professor_id]%>
		<%=link_to '',edit_cas_url(@cas),:class => 'edit'%>
	<%end%>
</div>
<div class="content_main case">
	<%= render :partial => "shared/content", :collection => @contents%>
</div>
<%unless @documents.empty?%>
<div class="content_secondary">
	<ul class="attachments">
	<%= render :partial => "admin/documents/document", :collection => @documents%>
	</ul>
	<a name="preguntas"></a>
</div>
<%end%>

<%= render :partial => 'admin/preguntes/index'%>


