
	
<%=form_tag reset_password_check_mail_url,:remote => true do %>
	<p>Introduce tu email para restablecer tu contraseña</p>
	<div class="input_holder">
		<%= email_field_tag 'email', '', :placeholder => "e-mail"%>
	</div>
	<%= hidden_field_tag :token, @token %>

	
	<%=submit_tag 'Restablecer', :class => 'submit_button'%>
<%= link_to raw('&larr; atrás'),root_url%>
<%end%>

