<div class="session">
<p class="margin-bottom-30">Tras guardar tu nueva contraseña te dirigiremos a la página de acceso</p>

<%unless @user.errors.empty?%>
<ul class="red margin-bottom-30">
	<% @user.errors.each do |key,value| %>
		<%if !value.empty?%>
		<li> <%=value%></li>
		<%end%>
	<%end%>
</ul>
<%end%>

<%=form_for(@user, :url => new_password_url(:token=>params[:token])) do |f|%>
	<ul class="margin-bottom-30">
		<li class="password margin-bottom-15"><%=f.password_field :proxy_password, :placeholder => "contraseña",:class => "text"%></li>
		<li class="password"><%=f.password_field :proxy_password_confirmation, :placeholder => "repetir contraseña",:class => "text"%></li>
	</ul>
	<%=f.submit 'Guardar contraseña'%>
  <%= link_to raw('&larr; atrás'),root_url%>
<%end%>
</div>