
<div class="title-holder">
		<p class="header">Login</p>
</div>
<div class="clear"></div>


<%= render(:partial => "admin/shared/error_notification", :object => flash[:login]) unless flash[:login].nil?%>


<%= form_tag login_url, :class => "user" do %>

	<div class="input_holder_short">
		<p class="label">Email</p>
    <%=email_field_tag 'email','',:placeholder => "email",:class=>"header_edit"%>
	</div>


	<div class="clear"></div>


	<div class="password">
		<div class="input_holder_short">
			<p>Contraseña: </p>
      <%=password_field_tag 'proxy_password', '',:placeholder => "contraseña",:class=>"header_edit"%>
		</div>

		<div class="clear"></div>
	</div>
  
	<div class="margin-top-36">
  <%= hidden_field_tag "url", params[:url]%>
  <%= submit_tag 'Entrar',:class => "submit_button"%>
  <%= link_to 'olvidaste tu clave',reset_password_url%>
	</div>
<%end%>





