
<div class="title-holder">
		<p class="header">Login</p>
</div>
<div class="clear"></div>


<%= render(:partial => "admin/shared/error_notification", :object => flash[:login]) unless flash[:login].nil?%>


<%= form_tag login_url, :class => "user" do %>
  <p class="comment">Introduce tu email y password para entrar en la intranet del curso.</p>
	<div class="input_holder_short">
		<p class="label">Email</p>
    <%=email_field_tag 'email','',:placeholder => "email",:class=>"header_edit"%>
	</div>


	<div class="clear"></div>


	<div class="password">
		<div class="input_holder_short">
			<p>Contrase침a: </p>
      <%=password_field_tag 'proxy_password', '',:placeholder => "contrase침a",:class=>"header_edit"%>
		</div>

		<div class="clear"></div>
	</div>
  
	<div class="margin-top-36 margin-bottom-45">
  <%= hidden_field_tag "url", params[:url]%>
  <%= submit_tag 'Entrar',:class => "submit_button"%>
  <%= link_to raw('&larr; atr치s'),root_url%><br />
  <div class="clear"></div>
  <%= link_to 'Olvidaste tu contrase침a?',:class => "margin-left-45",reset_password_url%>
  
	</div>
<%end%>





