<div class="session">
<p class="margin-bottom-30">Tienes una cuenta de administrador? <br />
	Escribe tu email y te enviaremos instrucciones para restablecer tu contraseña</p>
	
		<%=form_tag reset_password_check_mail_url do %>
		<ul class="margin-bottom-30">
			<li class="email"><%= email_field_tag 'email', '', :placeholder => "email",:class => "text"%></li>
		</ul>
		<%= hidden_field_tag :token, @token %>
	
		<%= link_to raw('&larr; atrás'),login_url,:class=>"margin-right-15"%>
		<%=submit_tag 'Restablecer contraseña', :class => 'submit'%>
	
	<%end%>
</div>
