
<div class="title-holder">
		<p class="header">Restablecer contraseña</p>
</div>
<div class="clear"></div>


<%= render(:partial => "admin/shared/error_notification", :object => flash[:reset_password]) unless flash[:reset_password].nil?%>


<%= form_tag reset_password_check_mail_url, :class => "user" do %>
	<p class="comment">Introduce tu email para restablecer tu contraseña</p>
	<div class="input_holder_short">
		<p class="label">Email</p>
    <%=email_field_tag 'email','',:placeholder => "email",:class=>"header_edit"%>
	</div>
	<div class="clear"></div>

	<div class="margin-top-36">
  <%= hidden_field_tag :token, @token %>
  <%= hidden_field_tag "url", params[:url]%>
  <%= submit_tag 'Enviar',:class => "submit_button"%>
  <%= link_to raw('&larr; atrás'),login_url%>
	</div>
<%end%>





