<div class="title-holder">
	<p class="header">Configuración</p>
	<p class="subtitle">Configura el título principal, los pies de página, los logos, etc...</p>
</div>
<div class="clear"></div>
<%= render(:partial => "admin/shared/success_notification", :object => flash[:settings]) unless flash[:settings].nil?%>
<%= render(:partial => "admin/shared/error_notification", :object => @settings) unless @settings.errors.empty?%>

<%=form_for @settings,:url => edit_settings_url, :html =>{:class => "user"} do |f|%>


	<div class="settings_input_holder_header">
		<p class="label">Título principal</p>
		<%= f.text_field :main_title, :placeholder => 'Título principal', :class => 'header_edit'%>
	</div>
	
	<div class="settings_input_holder_medium">
		<p class="label">Subtítulo (fechas)</p>
		<%= f.text_field :subtitle, :placeholder => 'Subtítulo', :class => 'header_edit'%>
	</div>

	<div class="settings_input_holder_textarea">
		<p class="label">Pie de página para alumnos</p>
		<%=f.text_area :footer, :class => "settings", :rows => 8%>
	</div>
	
	<%if @settings.logo.url == "/logos/original/missing.png"%>
	<div class="logos_placeholder"></div>
	<%else%>
	<%=image_tag @settings.logo.url(:small), :class => "logos"%>
	<%end%>
	<%=f.file_field :logo ,:class => "input_holder_logos"%>
	
	<div class="settings_input_holder_textarea">
		<p class="label">Pie de página pública</p>
		<%=f.text_area :front_footer, :class => "settings", :rows => 8%>
	</div>
	

	<%if @settings.footer_logo.url == "/footer_logos/original/missing.png"%>
	<div class="logos_placeholder"></div>
	<%else%>
	<%=image_tag @settings.footer_logo.url(:small), :class => "logos"%>
	<%=link_to "", delete_footer_logo_url,:class => 'remove button'%>
	<div class="clear"></div>
	<%end%>
	<%=f.file_field :footer_logo ,:class => "input_holder_logos"%>
	

	<%= f.submit "Guardar", :class => "submit_button"%>
	<%= link_to "cancelar", edit_settings_url(@settings),:class => "red hovering"%>
	
<%end%>
