
<%= render(:partial => "admin/shared/success_notification", :object => flash[:document]) unless flash[:document].nil?%>
<%= render(:partial => "admin/shared/error_notification", :object => flash[:error]) unless flash[:error].nil?%>

<ul class="attachments">
	<%= render :partial => 'admin/documents/document', :collection => @documents%>
</ul>
<%= form_for @document, :url => new_document_url, :html => {:multipart => true,:class=>"new_file_form"}  do |f|%>
<div class="input_holder_rightside">
	<%= f.text_field :titol, :placeholder => 'Título', :class => 'header_edit'%>
</div>
<div class="input_holder_newfile">
	<%=f.file_field :document, :class => "file_attach"%>
</div>
	
	<input type="submit" class="submit_button n_file" value="material"/>
<%end%>



		