<h2 class="float-left">Documents</h2>
<a href="javascript:void(0);" id="new-question" class="float-right">nou document</a>
<div class="clear"></div>
<div class="question-form" style="display:none">
	<%= form_for @document, :url => new_document_url , :html =>{:class => "margin-bottom-30"} do |f|%>
	<%= f.file_field :document, :class => 'margin-bottom-5'%><br />
	<div class='margin-bottom-5'>
	<%= f.text_field :titol, :class => 'margin-right-5'%><%= f.label :titol, 'Titol'%>
	</div>
	<div class='margin-bottom-5'>
	<%= f.text_field :descripcio, :class => 'margin-right-5'%><%=f.label :descripcio, 'Descripcio'%>
	</div>
	<%= f.submit 'Afageix'%>
	<%end%>
</div>
<%if @documents.empty?%>
<p class='red'> - No hi ha documents per aquest cas.</p>
<%else%>
<table class="margin-bottom-60 lined full-width">
		<tr>
			<th>Nom</th>
			<th>Descripció</th>
			<%if session[:professor_id]%>
			<th>Accions</th>
			<%end%>
		</tr>
		
	<%= render :partial => "admin/documents/document", :collection => @documents%>
</table>
<%end%>