<%= render :partial => "admin/shared/form_errors_notification", :object => flash[:errors]%>
<% content_for :js do%>
<% if params[:action] == "new"%>
<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
	$('.alumni').click(function(){
		$('.password').hide('slow');
	});
	
	$('.teacher').click(function(){
		$('.password').show('slow');
	});
});

</script>
<%end%>
<%end%>
<%=form_for @new_user,:url => (params[:action] == "new" ? new_user_url : edit_user_url(@new_user)), :html =>{:class => "margin-bottom-45"} do |f|%>

	<div class="margin-bottom-30">
		<h3>Nombre</h3>
		<%= f.text_field :name, :class => "text m"%>
	</div>
	
	<div class="margin-bottom-30">
		<h3>Apellido</h3>
		<%= f.text_field :last_name, :class => "text m"%><br />
	</div>
	
	<div class="margin-bottom-30">
		<h3>Email</h3>
		<%= f.text_field :email, :class => "text m"%><br />
		<%= f.text_field :email_confirmation, :class => "text m"%>
		<label>repetir</label><br />
	</div>
	<%if session[:professor_id]%>
	<div class="margin-bottom-30">
		<h3>Tipo</h3>
		<%= f.radio_button :status, "professor", :class => 'teacher'%>
		<label>Profesor</label>
		<%= f.radio_button :status, "alumne", :class => 'alumni'%>
		<label>Alumno</label><br />
	</div>
	<%end%>
	
	<div class="margin-bottom-30 password">
		<h3>Contraseña</h3>
		<%= f.password_field :proxy_password, :class => "text m"%>
		<label>mínimo 8 caracteres, una mayúscula, una minúscula y un número</label><br />
		
		<%= f.password_field :proxy_password_confirmation, :class => "text m"%>
		<label>repetir</label><br />
	</div>
	
	<%= f.submit "Guardar usuario", :class => "margin-right-15"%><%= link_to "cancelar", (session[:professor_id] ? users_url : edit_user_url(@new_user)),:class => "red hovering"%>
<%end%>
