<div class="title-holder">
	<%if @user.status == "professor"%>
	<p class="header"><%= params[:action] == "edit" ? 'Editar' : 'Nuevo'%> usuario</p>
	<%else%>
	<p class="header">Editar perfil</p>
	<%end%>
</div>
<div class="clear"></div>
<div class="clear"></div>
<%= render(:partial => "admin/shared/success_notification", :object => flash[:user]) unless flash[:user].nil?%>
<%= render(:partial => "admin/shared/error_notification", :object => @new_user) unless @new_user.errors.empty?%>

<%=form_for @new_user,:url => (params[:action] == "new" ? new_user_url : edit_user_url(@new_user)), :html =>{:class => "user"} do |f|%>


	<div class="input_holder_short">
		<p class="label">Nombre</p>
		<%= f.text_field :name, :placeholder => 'Nombre', :class => 'header_edit'%>
	</div>
	
	<div class="input_holder_short">
		<p class="label">Apellido</p>
		<%= f.text_field :last_name, :placeholder => 'Apellido', :class => 'header_edit'%>
	</div>
	<div class="clear"></div>
	
	<div class="input_holder_short">
		<p class="label">Email</p>
		<%= f.text_field :email, :placeholder => 'Email', :class => 'header_edit'%>
	</div>

	<div class="input_holder_short">
		<p class="label">Confirma email</p>
		<%= f.text_field :email_confirmation, :placeholder => 'Confirma email', :class => 'header_edit'%>
	</div>
	<div class="clear"></div>

<%if @user.status == 'professor'%>
	<div class='radio'>
	<p class="label">Tipo</p>
	<%= f.radio_button :status, "professor", :class => 'teacher'%>
	<label>Profesor</label>
	<%= f.radio_button :status, "alumne", :class => 'alumni'%>
	<label>Alumno</label>
	</div>
<%end%>
	<div class="clear"></div>
		<div class="password">
		<div class="input_holder_short">
			<p>Contraseña: </p>
			<%= f.password_field :proxy_password, :class => "header_edit", :placeholder=> "Contraseña", :value => ''%>
		</div>
		<div class="input_holder_short">
			<p class="label">Confirma contraseña</p>
			<%= f.password_field :proxy_password_confirmation, :class => "header_edit", :placeholder=> "Confirma contraseña"%>
		</div>
		<div class="clear"></div>
		<p class="text">mínimo 8 caracteres, una mayúscula, una minúscula y un número</p>
	</div>	
	<%= f.submit "Guardar", :class => "submit_button"%>
	<%= link_to "cancelar", (@user.status == 'professor' ? users_url : edit_user_url(@new_user)),:class => "red hovering"%>
	
<%end%>
