<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="noindex">

	<title><%= @title%></title>	
	
	<meta name = "viewport" content = "width = 1110">
	
	<%= stylesheet_link_tag 'admin' %>
	<%= yield :css%>
	
	<link rel="shortcut icon" href="/assets/admin/admin_favicon.ico" type="image/ico">
	
	<%= javascript_include_tag 'admin' %>
	<%= csrf_meta_tags %>
	<%= yield :js%>
	<%= yield :flash%>

</head>

<body>
	
<div class="first-menu">
	<div class="wrapper">
		<ul class="inline">
			<li><%= link_to "Casos#{params[:controller] == "admin/casos" && params[:action] == "edit" ? ":" : "" }",casos_url, :class => params[:controller] == "admin/casos" && params[:action] != "edit" ? "active" : nil  %>
			</li>
			<li><%= link_to "Usuaris#{params[:controller] == "admin/users" && params[:action] == "edit" ? ":" : "" }",users_url, :class => params[:controller] == "admin/users" && params[:action] != "edit" ? "active" : nil  %>
				<%if params[:controller] == "admin/users" && (params[:action] == "new" || params[:action] == "edit")%>
					<%=params[:action] == "new" ? "" : "editar"%>
				<%end%>
			</li>
			<li><%# link_to 'Salir',logout_url%></li>
		</ul>
	</div>
</div>

<%if ["admin/pages","admin/settings","admin/contents"].include? params[:controller]%>
<%= render :partial => 'admin/shared/submenu'%>
<%end%>

<div class="main">
	<div class="wrapper">
	<%= yield%>		
		
	</div>
</div>

<div class="clear"></div>

<div class="footer">
	<div class="wrapper emboss">
		© MOON <%=Time.now.strftime("%Y")%>. All rights reserved. <a href="mailto:info@moonlabs.com">Contact us</a> / <a href="http://moonlabs.com">visit our site</a>
	</div>
</div>
	
	

</body>
</html>