<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>CURSO</title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<%= stylesheet_link_tag 'general' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>
	
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38998248-1']);
		  _gaq.push(['_setDomainName', 'endoreprocasos.es']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>     
	</head>
    <body>
    	<div class="container_main">
			<div class="top_head">
				<div class="header">
					<div class="logout_zone">
						<%= link_to 'Salir', logout_url, :class => 'submit_button'%>
						<p class="username"><%= @user.name.capitalize%> <%= @user.last_name.capitalize%></p>
					</div>
					<ul class="top_nav">
						<li><%=link_to "Casos",casos_url,:class => params[:controller] == 'admin/casos' ? "active" : nil%></li>
						<%if session[:professor_id]%>
						<li><%=link_to "Usuarios", users_url,:class => params[:controller] == 'admin/users' ? "active" : nil%></li>
						<li><%=link_to "Páginas", pages_url, :class => params[:controller] == 'admin/pages' ? "active" : nil%>
						<%elsif session[:alumne_id]%>
						<li><%=link_to "Perfil", edit_user_url(@user),:class => params[:controller] == 'admin/users' ? "active" : nil%></li>
						<%end%>
					</ul>
				</div>
			</div>
	   		<div class="site_content">
			<%= yield%>
	   		</div>
	   		<div class="footer"></div>
        </div>
	</body>
</html>