<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex">
  		<meta name = "viewport" content = "width = 1040">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">
		
		<title><%= @title%></title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<%= stylesheet_link_tag 'general' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>
		
		
				
		<script type="text/javascript">
		  <%= yield :js%>

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38998248-1']);
		  _gaq.push(['_setDomainName', 'endoreprocasos.es']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>     
	</head>
    <body>
      
      <div class="menu">	
      	<div class="container">

      		<div id="logo" class="fleft">
      			<a href="/casos"><img src="/assets/front/santpau_logo_white.png" /></a>
      		</div>
		
      		<div id="nav" class="fright">
      			<ul class="navigation">
				
  						<li <%="class=active" if params[:controller] == 'admin/casos'%>><%=link_to "Casos",casos_url%></li>
  						<%if @user.status == 'admin'%>
  						<li <%="class=active" if params[:controller] == 'admin/users' && params[:action] == 'index'%>><%=link_to "Usuarios", users_url%></li>
  						<!-- <li><%#link_to "Páginas", pages_url, :class => (params[:controller] == 'admin/pages' && @page.nil?) ? "active" : nil%></li> -->
  						<li <%="class=active" if params[:controller] == 'admin/settings'%>><%=link_to "Configuración", edit_settings_url%></li>	
  						<%else%>
  						<li <%="class=active" if (params[:controller] == 'admin/users' && params[:action] == 'alumnies')%>><%=link_to "Alumnos",alumnos_url%></li>
  						<li <%="class=active" if (params[:controller] == 'admin/users' && params[:action] == 'profesores')%>><%=link_to "Profesores",profesores_url%></li>
  						<%end%>
              <li <%="class=active" if params[:action] == 'edit_user'%>><%=link_to "Mi cuenta", edit_user_url(@user)%>	</li>
              <li><%= link_to 'Salir', logout_url%></li>
  						
  					</ul>
	
      				<div class="clear"></div>
      			</ul>
      		</div>
	
      	</div>
      </div>
      
    	<div class="container_main">
			
	   		<div class="site_content">
			<%= yield%>
	   		</div>
	   	
		</div>
    <div class="clear"></div>
    
   	<div class="footer">
			<%= raw RDiscount.new(@settings.footer).to_html%>
			<%= image_tag(@settings.footer_logo.url(:big)) unless @settings.footer_logo.url == "/footer_logos/original/missing.png"%>
      <div class="clear"></div>
		</div>  
    
	</body>
</html>