<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex">
  		<meta name = "viewport" content = "width = 1040">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">
		
		<title><%= @title%></title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<%= stylesheet_link_tag 'general' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>

	    
		
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38998248-1']);
		  _gaq.push(['_setDomainName', 'endoreprocasos.es']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>     
	</head>
    <body>
    	<div class="container_main">
			<div class="top_head">
				<div class="header">
					<div class="logout_zone">
						<%= link_to 'Salir', logout_url, :class => 'submit_button'%>
						<%=link_to "#{'Dr/a.' if @user.status == 'professor'} #{@user.name.capitalize} #{@user.last_name.capitalize}", edit_user_url(@user),:class => "username #{(@user == @new_user ? 'active' : nil)}"%>	
					</div>
					<ul class="top_nav">
						<li><%=link_to "Casos",casos_url,:class => params[:controller] == 'admin/casos' ? "active" : nil%></li>
						<%if @user.status == 'admin'%>
						<li><%=link_to "Usuarios", users_url,:class => params[:controller] == 'admin/users' && @user != @new_user ? "active" : nil%></li>
						<li><%=link_to "Páginas", pages_url, :class => (params[:controller] == 'admin/pages' && @page.nil?) ? "active" : nil%></li>
						<li><%=link_to "Configuración", edit_settings_url, :class => (params[:controller] == 'admin/settings') ? "active" : nil%></li>	
						<%else%>
						<li><%=link_to "Alumnos",alumnos_url,:class => params[:controller] == 'admin/users' ? "active" : nil%></li>
						<%end%>
						<%# render(:partial => "admin/shared/menu_page", :collection => @admin_pages) if @user.status == 'alumne'%>
					</ul>
				</div>
			</div>
	   		<div class="site_content">
			<%= yield%>
	   		</div>
	   		<div class="footer">
				<%= raw RDiscount.new(@settings.footer).to_html%>
				<%= image_tag(@settings.footer_logo.url(:big)) unless @settings.footer_logo.url == "/footer_logos/original/missing.png"%>
			</div>
		</div>
	</body>
</html>