<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex">
  		<meta name = "viewport" content = "width = 1040">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">
		
		<title><%= @title%></title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		

		<%= stylesheet_link_tag 'general' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>
	 
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38998248-1']);
		  _gaq.push(['_setDomainName', 'endoreprocasos.es']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>  
	</head>
    <body>
    	<div class="container_main">
			<div class="top_head">
				<div class="header">
					<ul class="top_nav">
						<li><%= link_to 'Home', root_url,:class => params[:action] =='root' ? "active" : nil%></li>
						<%= render :partial => 'shared/menu_tab', :collection => @public_pages%>
					</ul>
				</div>
			</div>
	   		<div class="site_content">
	   			<div class="intro_zone">
					<!--[if lt IE 9]>	
					<p class="ie-alert">Por favor usar Chrome, Firefox, IE 9 o superior</p>
					<![endif]-->
		   			<p class="org_header"><%= @settings.main_title%></p>
		   			<p class="org_when"><%=@settings.subtitle%></p>
	   			</div>
	   			<div class="login_zone">
					<%if @settings.logo.url == "/logos/original/missing.png" %>
					<div class="logo-empty"></div>
					<%else%>
					<%= image_tag(@settings.logo.url(:small)) %>
					<%end%>
					<p> Zona alumnos:</p>
					<%if flash[:login]%>
						<p class="red"><%= flash[:login]%></p>
					<%end%>
					<%= form_tag login_url do %>
					<div class="input_holder">
						<input type="text" name='email' placeholder="e-mail"/>
					</div>
					<div class="input_holder">
						<input type="password" name='proxy_password' placeholder="password"/>
					</div>
					<input type="submit" value="login" class="submit_button"/>
					
					<%= link_to '¿olvidaste tu password?',reset_password_url, :remote => true%>
				
					<%end%>
				</div>
				<%= yield%>
	   		</div>
	   		<div class="footer">
				<%= raw RDiscount.new(@settings.front_footer).to_html%>
				<%= image_tag(@settings.footer_logo.url(:big)) unless @settings.footer_logo.url == "/footer_logos/original/missing.png"%>
			</div>
        </div>
	</body>
</html>