<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="noindex">

	<title><%= @title%></title>	
	
	<meta name = "viewport" content = "width = 1110">
	
	<%= stylesheet_link_tag 'roger' %>
	<%= yield :css%>
	
	<link rel="shortcut icon" href="/assets/admin/admin_favicon.ico" type="image/ico">
	
	<%= javascript_include_tag 'admin' %>
	<%= csrf_meta_tags %>
	<%= yield :js%>

</head>
	<body>
	
		<div class="container">
			
			<div class="banner">
				<a href='/'>
				<div class="title">
				<span class="logo">
					CURSO PRÁCTICO DE ENDOCRINOLOGÍA GINECOLÓGICA Y REPRODUCCIÓN HUMANA BASADO EN EL CASO
				</span>
				<span class="date">
				Barcelona, 12, 13 y 14 de Diciembre del 2012
				</span>
				</div>
				</a>
			</div>
			<div id="menu">
				<ul class="inline float-left">
				<%if session[:professor_id] || session[:alumne_id]%>
					<li><%=link_to "Casos",casos_url,:class => params[:controller] == 'admin/casos' ? "active" : nil%></li>
					<%if session[:professor_id]%>
					<li><%=link_to "Usuarios", users_url,:class => params[:controller] == 'admin/users' ? "active" : nil%></li>
					<%elsif session[:alumne_id]%>
					<li><%=link_to "Perfil", edit_user_url(@user),:class => params[:controller] == 'admin/users' ? "active" : nil%></li>
					<%end%>
				<%end%>
				</ul>
				<ul class="inline float-right">
					<%unless session[:professor_id] || session[:alumne_id]%>
					<li><%=link_to "Login",login_url,:class => params[:controller] == 'admin/session' ? "active" : nil%></li>
					<%else%>
					<li>Hola <%=@user.name%>, <%= link_to "logout",logout_url%></li>
					<%end%>
				</ul>
				<div class="clear"></div>
			</div>
			
			<div id="main">
				<%=yield%>
			</div>

			<div class="footer">
				<div class="big-logos float-left margin-right-30">
					<%= image_tag('front/hsp.png',:class => "margin-left-15", :width => 102, :height => 55)%>
					<%= image_tag('front/uab.jpeg',:class => "margin-left-15", :width => 102, :height => 41)%>
					<%= image_tag('front/sef.png',:class => "margin-left-15", :width => 102, :height => 91)%>
				</div>
				<div class="small-logos margin-top-90 float-left">
					<%= image_tag('front/small_sponsor.png', :width => 205, :height => 28)%>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	
	</body>
</html>