<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex">
  		<meta name = "viewport" content = "width = 1040">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">
		
		<title><%= @title%></title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		
		<%= stylesheet_link_tag 'general' %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>
		
		
				
		<script type="text/javascript">
		  <%= yield :js%>

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38998248-1']);
		  _gaq.push(['_setDomainName', 'endoreprocasos.es']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>     
	</head>
    <body>
      <div class="menu">	
      	<div class="container clearfix">
      		<div id="logo" class="fleft">
      			<a href="index.html"><img src="/assets/front/santpau_logo_white.png" /></a>
      		</div>
      	</div>
      </div>
      
    	<div class="container_main">
	   		<div class="site_content">
			    <%= yield%>
	   		</div>
		</div>
    <div class="clear"></div>
   	<div class="footer">
			<%= raw RDiscount.new(@settings.footer).to_html%>
			<%= image_tag(@settings.footer_logo.url(:big)) unless @settings.footer_logo.url == "/footer_logos/original/missing.png"%>
      <div class="clear"></div>
		</div>
	</body>
</html>